<div class="container-fluid">
  <div class="row">
    <nav id="sidebar" class="col-md-3 col-lg-2 bg-dark text-white p-3 d-flex flex-column vh-100 sticky-top">
      <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="../assets/icono.jpg" alt="" height="30" class="me-2">
        <span class="fs-5 d-none d-sm-inline">TurSD</span>
      </div>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="/locales-turisticos" routerLinkActive="active" class="nav-link text-white">
            <i class="fas fa-map-marker-alt me-2"></i> Locales Turísticos
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/puntos-turisticos" routerLinkActive="active" class="nav-link text-white">
            <i class="fas fa-mountain me-2"></i> Puntos Turísticos
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/etiquetas-turisticas" routerLinkActive="active" class="nav-link text-white">
            <i class="fas fa-tags me-2"></i> Etiquetas Turísticas
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/local-etiqueta" routerLinkActive="active" class="nav-link text-white">
            <i class="fas fa-link me-2"></i> Local Etiqueta
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/actividades" routerLinkActive="active" class="nav-link text-white">
            <i class="fas fa-hiking me-2"></i> Actividades
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/servicios" routerLinkActive="active" class="nav-link text-white">
            <i class="fas fa-concierge-bell me-2"></i> Servicios
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/duenos" routerLinkActive="active" class="nav-link text-white">
            <i class="fas fa-user me-2"></i> Dueños
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/parroquias" routerLinkActive="active" class="nav-link text-white">
            <i class="fas fa-book me-2"></i> Parroquias
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/horarios-atencion" routerLinkActive="active" class="nav-link text-white">
            <i class="fas fa-clock me-2"></i> Horarios de Atención
          </a>
        </li>
      </ul>
      <hr>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 p-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>